
body{
    background: linear-gradient(to right, #27b9e3, #fb00ff);
    height: 100vh;
}

.container{
    max-width: 400px;
    width: 100%;
    margin: 30px auto;
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
}

h2{
    text-align: center;
    font-size: 30px;
}
.input{
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 2px solid #e3e3e3;
    margin-top: 7px;
}

.input > span{ 
    font-size: 20px;
    color: #b1afaf;
}
label{
    font-size: 14px;
    color: #222;
}

input{
    width: 100%;
    outline: none;
    padding: 7px 10px;
    border: none;
}
.label-input{
    margin-bottom: 15px;

}

.input > input::placeholder {
    color: #b1afaf;
}
.forget{
    text-align: right;
}
.forget a{
    text-decoration: none;
    color: #b1afaf;
}

.btn{
    padding: 10px 20px;
    display: block;
    background: linear-gradient(to right, #27b9e3, #fb00ff);
    color: #fff;
    border: none;
    width: 100%;
    border-radius: 30px;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-5px);
}

.socials{
    margin-top: 40px;
}
.socials > p {
    text-align: center;
    color: #b1afaf;
}
.icons{
    margin-top: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.icons > a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
}

.icons > a:nth-child(1){
    background-color: #3d5898;
}

.icons > a:nth-child(2){
    background-color: #03a4f4;
}

.icons  a:nth-child(3){
    background-color: #e94537;
}

